body {
  background-color: #151529; }

p {
  font-family: 'Open-Sans', sans-serif;
  font-size: 15px;
  line-height: 20px; }

h1 {
  font-family: 'Brandon-Grotesque', sans-serif;
  font-size: 55px;
  line-height: 64px;
  text-transform: uppercase; }

.site-container {
  width: 70%;
  margin: 0 15%; }

.icon {
  position: absolute;
  width: 180px;
  height: 180px;
  background: url("../img/assets/cir-center.svg") no-repeat;
  background-size: 180px 180px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2), 0 0 25px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 0px rgba(255, 255, 155, 0.4);
  -moz-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2), 0 0 25px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 0x rgba(255, 255, 155, 0.4);
  box-shadow: 0 0 0 0x rgba(255, 255, 255, 0.2), 0 0 25px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 0px rgba(255, 255, 155, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  /* border-radius: 50% has issues on some mobile browsers */ }

.pulse1 {
  position: absolute;
  width: 280px;
  height: 280px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: .7;
  border: 3px solid #31BBAC;
  -webkit-animation: pulsejg1 4s linear;
  -moz-animation: pulsejg1 4s linear;
  animation: pulsejg1 4s linear;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse2 {
  position: absolute;
  width: 380px;
  height: 380px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
  border: 1px solid #ED2F48;
  -webkit-animation: pulsejg2 4s linear;
  -moz-animation: pulsejg2 4s linear;
  animation: pulsejg2 4s linear;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse3 {
  position: absolute;
  width: 490px;
  height: 490px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  opacity: .7;
  border: 3px solid #31BBAC;
  -webkit-animation: pulsejg3 4s linear;
  -moz-animation: pulsejg3 4s linear;
  animation: pulsejg3 4s linear;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse4 {
  position: absolute;
  width: 690px;
  height: 690px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  opacity: 1;
  border: 1px solid #ED2F48;
  -webkit-animation: pulsejg4 4s linear;
  -moz-animation: pulsejg4 4s linear;
  animation: pulsejg4 4s linear;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse5 {
  position: absolute;
  width: 730px;
  height: 730px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  opacity: .7;
  border: 3px solid #31BBAC;
  -webkit-animation: pulsejg5 4s linear;
  -moz-animation: pulsejg5 4s linear;
  animation: pulsejg5 4s linear;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes pulsejg1 {
  0% {
    -webkit-transform: scale(0);
    opacity: .1; }
  20% {
    -webkit-transform: scale(0.2);
    opacity: .3; }
  40% {
    -webkit-transform: scale(0.4);
    opacity: .5; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: .8; }
  80% {
    -webkit-transform: scale(0.8);
    opacity: .6; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes pulsejg1 {
  0% {
    -moz-transform: scale(0);
    opacity: .1; }
  20% {
    -moz-transform: scale(0.2);
    opacity: .3; }
  40% {
    -moz-transform: scale(0.4);
    opacity: .5; }
  60% {
    -moz-transform: sscale(0.6);
    opacity: .8; }
  80% {
    -moz-transform: scscale(0.8);
    opacity: .6; }
  100% {
    -moz-transform: sscale(1);
    opacity: 1; } }
@keyframes pulsejg1 {
  0% {
    transform: scale(0);
    opacity: .1; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .5; }
  60% {
    transform: scale(0.6);
    opacity: .8; }
  80% {
    transform: scale(0.8);
    opacity: .6; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pulsejg2 {
  0% {
    -webkit-transform: scale(0);
    opacity: .1; }
  20% {
    -webkit-transform: scale(0.2);
    opacity: .305; }
  40% {
    -webkit-transform: scale(0.4);
    opacity: .5; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -webkit-transform: scale(0.8);
    opacity: .6; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes pulsejg2 {
  0% {
    -moz-transform: scale(0);
    opacity: .1; }
  20% {
    -moz-transform: scale(0.2);
    opacity: .305; }
  40% {
    -moz-transform: scale(0.4);
    opacity: .5; }
  60% {
    -moz-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -moz-transform: scale(0.8);
    opacity: .6; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }
@keyframes pulsejg2 {
  0% {
    transform: scale(0);
    opacity: .1; }
  20% {
    transform: scale(0.2);
    opacity: .305; }
  40% {
    transform: scale(0.4);
    opacity: .5; }
  60% {
    transform: scale(0.6);
    opacity: 0.8; }
  80% {
    transform: scale(0.8);
    opacity: .6; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pulsejg3 {
  0% {
    -webkit-transform: scale(0);
    opacity: .1; }
  20% {
    -webkit-transform: scale(0.2);
    opacity: .305; }
  40% {
    -webkit-transform: scale(0.4);
    opacity: .5; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -webkit-transform: scale(0.8);
    opacity: .6; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes pulsejg3 {
  0% {
    -moz-transform: scale(0);
    opacity: .1; }
  20% {
    -moz-transform: scale(0.2);
    opacity: .305; }
  40% {
    -moz-transform: scale(0.4);
    opacity: .5; }
  60% {
    -moz-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -moz-transform: scale(0.8);
    opacity: .6; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }
@keyframes pulsejg3 {
  0% {
    transform: scale(0);
    opacity: .1; }
  20% {
    transform: scale(0.2);
    opacity: .305; }
  40% {
    transform: scale(0.4);
    opacity: .5; }
  60% {
    transform: scale(0.6);
    opacity: 0.8; }
  80% {
    transform: scale(0.8);
    opacity: .6; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pulsejg4 {
  0% {
    -webkit-transform: scale(0);
    opacity: .1; }
  20% {
    -webkit-transform: scale(0.2);
    opacity: .305; }
  40% {
    -webkit-transform: scale(0.4);
    opacity: .5; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -webkit-transform: scale(0.8);
    opacity: .6; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes pulsejg4 {
  0% {
    -moz-transform: scale(0);
    opacity: .1; }
  20% {
    -moz-transform: scale(0.2);
    opacity: .305; }
  40% {
    -moz-transform: scale(0.4);
    opacity: .5; }
  60% {
    -moz-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -moz-transform: scale(0.8);
    opacity: .6; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }
@keyframes pulsejg4 {
  0% {
    transform: scale(0);
    opacity: .1; }
  20% {
    transform: scale(0.2);
    opacity: .305; }
  40% {
    transform: scale(0.4);
    opacity: .5; }
  60% {
    transform: scale(0.6);
    opacity: 0.8; }
  80% {
    transform: scale(0.8);
    opacity: .6; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pulsejg5 {
  0% {
    -webkit-transform: scale(0);
    opacity: .1; }
  20% {
    -webkit-transform: scale(0.2);
    opacity: .305; }
  40% {
    -webkit-transform: scale(0.4);
    opacity: .5; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -webkit-transform: scale(0.8);
    opacity: .6; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes pulsejg5 {
  0% {
    -moz-transform: scale(0);
    opacity: .1; }
  20% {
    -moz-transform: scale(0.2);
    opacity: .305; }
  40% {
    -moz-transform: scale(0.4);
    opacity: .5; }
  60% {
    -moz-transform: scale(0.6);
    opacity: 0.8; }
  80% {
    -moz-transform: scale(0.8);
    opacity: .6; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }
@keyframes pulsejg5 {
  0% {
    transform: scale(0);
    opacity: .1; }
  20% {
    transform: scale(0.2);
    opacity: .305; }
  40% {
    transform: scale(0.4);
    opacity: .5; }
  60% {
    transform: scale(0.6);
    opacity: 0.8; }
  80% {
    transform: scale(0.8);
    opacity: .6; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@font-face {
  font-family: 'SFU-Futura';
  src: url("../fonts/SFUFuturaBold.woff2") format("woff2"), url("../fonts/SFUFuturaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Myriad-Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-Grotesque';
  src: url("../fonts/BrandonGrotesque-Black.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
/* Icon 1 */
#nav-icon {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 12px; }

#nav-icon span:nth-child(4) {
  top: 24px; }

#nav-icon.full-menu--open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon.full-menu--open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.full-menu--open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.full-menu--open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/*
 * Full menu
 * ----------
 * Styles in this section are very
 * important and you have to implement
 * them if you want for your
 * navigation to work properly.
 *
 */
.full-menu {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: -100 !important; }

.full-menu--open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #ED2F48;
  z-index: 9999 !important; }

.full-menu--transition {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.full-menu--middle {
  display: block;
  height: 100%;
  position: relative; }
  .full-menu--middle .main-nav {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%; }
    .full-menu--middle .main-nav li {
      text-decoration: none; }
      .full-menu--middle .main-nav li a {
        font-family: 'Brandon-Grotesque';
        text-transform: uppercase;
        font-size: 52px;
        color: white;
        display: block;
        margin: 0px 5%;
        transition: all .33s ease-in-out;
        padding: 0;
        line-height: 64px; }
        .full-menu--middle .main-nav li a:hover, .full-menu--middle .main-nav li a:active, .full-menu--middle .main-nav li a:focus {
          text-decoration: none;
          outline: none; }

.menu-toggle {
  position: relative;
  left: 6%;
  top: 20px; }
  .menu-toggle span {
    background-color: white; }

.full-menu--open span {
  background-color: white; }

.nav-arrow {
  width: 640px;
  position: relative;
  height: auto;
  top: -8px; }

/* CTA */
#parent {
  position: relative;
  height: 60px;
  width: auto;
  font-family: 'Brandon-Grotesque';
  text-transform: uppercase;
  font-size: 52px;
  color: white;
  display: block;
  margin: 0px 10%;
  transition: all .33s ease-in-out;
  padding: 0;
  line-height: 64px; }

#wrapper {
  position: absolute;
  width: auto;
  height: auto;
  transition: all .33s ease-in; }

#child {
  position: absolute;
  width: 550px;
  background-color: transparent;
  transition: inherit;
  top: 17px;
  left: -1300px; }

#wrapper:hover #child {
  transform: translateX(220%); }

.landing .about-section {
  width: 30%;
  margin-top: 100px; }
  .landing .about-section h1 {
    color: #ED2F48; }
  .landing .about-section p {
    color: white; }
    .landing .about-section p b {
      font-family: 'open-sans-bold', sans-serif; }
.landing .circle-container {
  position: relative;
  right: -50%;
  top: 300px;
  width: 100%; }
  .landing .circle-container .circle-animation {
    position: absolute;
    width: 100%;
    height: 100%; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .menu-toggle {
    border-bottom: 1px solid red !important; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu-toggle {
    border-bottom: 1px solid blue !important; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu-toggle {
    border-bottom: 1px solid green !important; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .menu-toggle {
    border-bottom: 1px solid yellow !important; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .menu-toggle {
    border-bottom: 1px solid pink !important; } }
body {
  height: auto;
  width: 100%; }

/*# sourceMappingURL=master.css.map */
