body {
  background-color: #151529;
  overflow-x: hidden;
  color: white; }

p {
  font-family: 'Open-Sans', sans-serif;
  font-size: 15px;
  line-height: 20px; }

h1, h2 {
  font-family: 'Brandon-Grotesque', sans-serif;
  font-size: 55px;
  line-height: 64px;
  text-transform: uppercase; }

h3 {
  font-family: 'Open-Sans', sans-serif;
  font-size: 36px; }

ul li {
  font-size: 15px; }

.site-container {
  width: 70%;
  margin: 0 15%; }

.no-padding {
  padding: 0; }

.btn-cta {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  text-transform: none;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  -moz-transition-property: all;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6); }

.btn-cta svg {
  position: absolute;
  top: 0;
  left: 0; }

.btn-cta svg rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1); }

.btn-cta:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33; }

.btn-cta:hover {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold; }

.circle-animation {
  width: 100%;
  height: 100%;
  position: absolute; }

.icon {
  position: absolute;
  width: 22%;
  height: 22%;
  background: url("../img/assets/cir-center.svg") no-repeat;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2), 0 0 25px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 0px rgba(255, 255, 155, 0.4);
  -moz-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2), 0 0 25px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 0x rgba(255, 255, 155, 0.4);
  box-shadow: 0 0 0 0x rgba(255, 255, 255, 0.2), 0 0 25px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 0px rgba(255, 255, 155, 0.4);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  /* border-radius: 50% has issues on some mobile browsers */ }

.pulse1 {
  position: absolute;
  width: 40%;
  height: 40%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: .7;
  border: 3px solid #31BBAC;
  -webkit-animation: pulsejg1 4s linear infinite;
  -moz-animation: pulsejg1 4s linear infinite;
  animation: pulsejg1 4s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse2 {
  position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
  border: 1px solid #ED2F48;
  -webkit-animation: pulsejg2 4s linear infinite;
  -moz-animation: pulsejg2 4s linear infinite;
  animation: pulsejg2 4s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse3 {
  position: absolute;
  width: 60%;
  height: 60%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  opacity: .7;
  border: 3px solid #31BBAC;
  -webkit-animation: pulsejg3 4s linear infinite;
  -moz-animation: pulsejg3 4s linear infinite;
  animation: pulsejg3 4s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse4 {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  opacity: 1;
  border: 1px solid #ED2F48;
  -webkit-animation: pulsejg4 4s linear infinite;
  -moz-animation: pulsejg4 4s linear infinite;
  animation: pulsejg4 4s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-shadow: inset 0px 0px 0px 0px #ED2F48;
  box-shadow: inset 0px 0px 0px 0px #ED2F48;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pulse5 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  opacity: .7;
  border: 3px solid #31BBAC;
  -webkit-animation: pulsejg5 4s linear infinite;
  -moz-animation: pulsejg5 4s linear infinite;
  animation: pulsejg5 4s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-shadow: inset 0px 0px 0px 0px #31BBAC;
  box-shadow: inset 0px 0px 0px 0px #31BBAC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes pulsejg1 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg1 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg1 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg2 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg2 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg2 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg3 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg3 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg3 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg4 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg4 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg4 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg5 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg5 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg5 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .3; }
  40% {
    transform: scale(0.4);
    opacity: .7; }
  60% {
    transform: scale(0.6);
    opacity: .7; }
  80% {
    transform: scale(0.8);
    opacity: .5; }
  100% {
    transform: scale(1);
    opacity: 0; } }
/*===== STYLOWANIE SLIDER1-MARKUP =====*/
#slider-1 {
  position: relative;
  left: 50%;
  margin: 250px 0 0px -200px;
  width: 700px;
  min-height: 700px; }
  #slider-1 .icon-client {
    position: absolute;
    background-color: #ccc;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
    #slider-1 .icon-client .circle-animation .pulse1 {
      -webkit-animation: pulsejg6 3s linear infinite !important;
      -moz-animation: pulsejg6 3s linear infinite !important;
      animation: pulsejg6 3s linear infinite !important; }
    #slider-1 .icon-client .circle-animation .pulse2 {
      -webkit-animation: pulsejg7 3s linear infinite !important;
      -moz-animation: pulsejg7 3s linear infinite !important;
      animation: pulsejg7 3s linear infinite !important; }
    #slider-1 .icon-client .circle-animation .pulse3 {
      -webkit-animation: pulsejg8 3s linear infinite !important;
      -moz-animation: pulsejg8 3s linear infinite !important;
      animation: pulsejg8 3s linear infinite !important; }
    #slider-1 .icon-client .circle-animation .pulse4 {
      -webkit-animation: pulsejg9 3s linear infinite !important;
      -moz-animation: pulsejg9 3s linear infinite !important;
      animation: pulsejg9 3s linear infinite !important; }
    #slider-1 .icon-client .circle-animation .pulse5 {
      -webkit-animation: pulsejg10 3s linear infinite !important;
      -moz-animation: pulsejg10 3s linear infinite !important;
      animation: pulsejg10 3s linear infinite !important; }
@-webkit-keyframes pulsejg6 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg6 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg6 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg7 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg7 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg7 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg8 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg8 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg8 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg9 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg9 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg9 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes pulsejg10 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes pulsejg10 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes pulsejg10 {
  0% {
    transform: scale(0);
    opacity: .0; }
  20% {
    transform: scale(0.2);
    opacity: .1; }
  40% {
    transform: scale(0.4);
    opacity: .3; }
  60% {
    transform: scale(0.6);
    opacity: .5; }
  80% {
    transform: scale(0.8);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: 0; } }
  #slider-1 #icon-0 {
    z-index: 2;
    width: 400px;
    height: 400px;
    background-color: transparent; }

footer {
  background: Linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/group.jpg") no-repeat center;
  background-size: cover;
  height: 300px;
  padding: 90px 10%; }
  footer .logo-container {
    width: auto;
    min-width: 200px;
    float: left; }
  footer .contact-container {
    width: 35%;
    float: right; }
    footer .contact-container h3 {
      font-family: 'Open-Sans-Bold';
      font-size: 36px;
      margin: 0 0 20px 0; }
    footer .contact-container p {
      font-family: 'Open-Sans';
      font-size: 15px; }
    footer .contact-container h5 {
      font-family: 'Open-Sans';
      font-size: 15px;
      color: #ED2F48; }

@font-face {
  font-family: 'SFU-Futura';
  src: url("../fonts/SFUFuturaBold.woff2") format("woff2"), url("../fonts/SFUFuturaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Myriad-Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-Grotesque';
  src: url("../fonts/BrandonGrotesque-Black.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
/* Icon 1 */
#nav-icon {
  width: 40px;
  height: 25px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 9998; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 12px; }

#nav-icon span:nth-child(4) {
  top: 24px; }

#nav-icon.full-menu--open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon.full-menu--open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.full-menu--open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.full-menu--open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/*
 * Full menu
 * ----------
 * Styles in this section are very
 * important and you have to implement
 * them if you want for your
 * navigation to work properly.
 *
 */
.full-menu {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: -100 !important; }

.full-menu--open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #ED2F48;
  z-index: 9999 !important; }

.full-menu--transition {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.full-menu--middle {
  display: block;
  height: 100%;
  position: relative; }
  .full-menu--middle .main-nav {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%; }
    .full-menu--middle .main-nav li {
      text-decoration: none; }
      .full-menu--middle .main-nav li a {
        font-family: 'Brandon-Grotesque';
        text-transform: uppercase;
        font-size: 52px;
        color: white;
        display: block;
        margin: 0px 5%;
        transition: all .33s ease-in-out;
        padding: 0;
        line-height: 64px; }
        .full-menu--middle .main-nav li a:hover, .full-menu--middle .main-nav li a:active, .full-menu--middle .main-nav li a:focus {
          text-decoration: none;
          outline: none; }

.menu-toggle {
  position: relative;
  left: 6%;
  top: 20px; }
  .menu-toggle span {
    background-color: white; }

.full-menu--open span {
  background-color: white; }

.nav-arrow {
  width: 640px;
  position: relative;
  height: auto;
  top: -8px; }

.nav-arrow-small {
  display: none; }

/* CTA */
#parent {
  position: relative;
  height: 60px;
  width: auto;
  font-family: 'Brandon-Grotesque';
  text-transform: uppercase;
  font-size: 52px;
  color: white;
  display: block;
  margin: 0px 10%;
  transition: all .33s ease-in-out;
  padding: 0;
  line-height: 64px; }

#wrapper {
  position: absolute;
  width: auto;
  height: auto;
  transition: all .33s ease-in-out; }

#child {
  position: absolute;
  width: 550px;
  background-color: transparent;
  transition: inherit;
  top: 17px;
  left: -1300px; }

#wrapper:hover #child {
  transform: translateX(220%); }

a.logo-home {
  width: 100px;
  position: fixed;
  right: 7%;
  top: 10px;
  z-index: 9998;
  transition: all .33s ease-in-out; }

.landing .about-section {
  width: 30%;
  margin-top: 100px; }
  .landing .about-section h1 {
    color: #ED2F48; }
  .landing .about-section p {
    color: white; }
    .landing .about-section p b {
      font-family: 'open-sans-bold', sans-serif; }
.landing .circle-section {
  height: 700px;
  display: block; }
  .landing .circle-section .circle-container {
    display: block;
    width: 1000px;
    height: 1000px;
    position: relative;
    right: -30%;
    top: -300px;
    z-index: 100; }
    .landing .circle-section .circle-container .text-container {
      width: 420px;
      z-index: 9998;
      position: relative;
      top: 250px;
      left: 20%; }
      .landing .circle-section .circle-container .text-container .lets-hunt h1, .landing .circle-section .circle-container .text-container .some h1, .landing .circle-section .circle-container .text-container .wandering h1 {
        font-family: 'Brandon-Grotesque', sans-serif;
        display: inline-block;
        font-size: 100px;
        text-transform: none; }
      .landing .circle-section .circle-container .text-container .lets-hunt {
        width: 210px;
        display: inline-block; }
        .landing .circle-section .circle-container .text-container .lets-hunt h1 {
          font-size: 133px;
          margin-bottom: 50px; }
        .landing .circle-section .circle-container .text-container .lets-hunt img {
          width: 200px; }
      .landing .circle-section .circle-container .text-container .some {
        width: 37%;
        display: inline-block; }
        .landing .circle-section .circle-container .text-container .some h1 {
          margin-top: 20px;
          position: relative;
          top: 15px; }
      .landing .circle-section .circle-container .text-container .wandering {
        margin-bottom: 30px; }
      .landing .circle-section .circle-container .text-container .arrow-small, .landing .circle-section .circle-container .text-container .ideer {
        display: inline-block;
        width: 45%; }
      .landing .circle-section .circle-container .text-container .ideer {
        margin-left: 30px; }
  .landing .circle-section .circle-container-small {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    top: -670px; }
.landing .stc-container {
  margin-top: -150px; }
  .landing .stc-container .stc-content {
    display: inline-block;
    width: 48%;
    margin: 0 2% 100px 0;
    padding-right: 0px; }
    .landing .stc-container .stc-content .title img {
      width: 230px; }
    .landing .stc-container .stc-content .title h1 {
      margin-top: -115px; }
    .landing .stc-container .stc-content .title h1.c {
      margin-top: -51px;
      color: #31BBAC; }
    .landing .stc-container .stc-content .ul-container ul {
      padding: 0; }
      .landing .stc-container .stc-content .ul-container ul li {
        list-style-type: '-';
        padding-left: 8px;
        margin-left: 6px; }
  .landing .stc-container #technology {
    position: relative;
    top: 300px;
    margin: 0 0% 100px 0px;
    padding-left: 50px; }
.landing .case-study-container {
  height: auto; }
  .landing .case-study-container .main .view {
    display: inline-block;
    width: 48%;
    height: auto;
    margin: 5px;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #ED2F48; }
    .landing .case-study-container .main .view img {
      display: block;
      position: relative;
      margin: auto; }
    .landing .case-study-container .main .view h2 {
      text-transform: none;
      color: #fff;
      text-align: left;
      position: relative;
      font-size: 36px; }
    .landing .case-study-container .main .view p {
      font-size: 15px;
      position: relative;
      color: #fff;
      padding: 0px 40px 0px;
      text-align: left;
      margin: 0;
      line-height: 22px; }
    .landing .case-study-container .main .view p.description {
      margin-top: 30px; }
    .landing .case-study-container .main .view a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      background: #000;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      bottom: 30px;
      right: 30px;
      text-align: left;
      background-color: transparent; }
      .landing .case-study-container .main .view a.info img.cta-arrow {
        width: 100px;
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
  .landing .case-study-container .main .view .mask, .landing .case-study-container .main .view .content {
    width: auto;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }
  .landing .case-study-container .main .view-tenth:hover img {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0; }
  .landing .case-study-container .main .view-tenth img {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
  .landing .case-study-container .main .view-tenth .mask {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .landing .case-study-container .main .view-tenth .mask h2 {
      background: transparent;
      margin: 20px 40px;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
    .landing .case-study-container .main .view-tenth .mask p {
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    .landing .case-study-container .main .view-tenth .mask a.info {
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear; }
  .landing .case-study-container .main .view-tenth:hover h2, .landing .case-study-container .main .view-tenth:hover p, .landing .case-study-container .main .view-tenth:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }
  .landing .case-study-container .cta-container {
    margin: 80px auto;
    text-align: center; }
    .landing .case-study-container .cta-container .btn-cta svg rect {
      stroke: #31BBAC; }

.typewriter-banner {
  text-align: center;
  background-color: #ED2F48;
  padding: 15px 0 25px;
  margin-bottom: 50px; }
  .typewriter-banner .typewriter {
    width: 400px;
    margin: 0 auto; }
    .typewriter-banner .typewriter h1 {
      display: block; }

/*------ See Globals line 700 + For animated circle feature ------*/
.clients-mobile {
  display: none; }

@media only screen and (max-width: 768px) {
  .client-circle-section {
    display: none; }

  .clients-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-self: start;
    align-self: center;
    margin: 100px 0; } }
.lets-hunt-section {
  background-color: #31BBAC;
  width: 100%;
  padding: 150px 0;
  text-align: center;
  display: block;
  position: relative; }
  .lets-hunt-section .lets-hunt-container {
    width: 70%;
    margin: 0 auto; }
    .lets-hunt-section .lets-hunt-container img.arrow {
      width: 200px;
      float: right;
      margin-top: 40px; }
    .lets-hunt-section .lets-hunt-container .btn-cta {
      margin: 100px auto 0;
      display: block; }
      .lets-hunt-section .lets-hunt-container .btn-cta rect {
        stroke: #ED2F48;
        stroke-width: 2; }
      .lets-hunt-section .lets-hunt-container .btn-cta:hover rect {
        stroke-width: 5; }

.typewriter-banner {
  margin: 100px 0;
  background-color: #31BBAC; }

.work-hard-section {
  height: 40vh;
  margin: 300px 0 200px; }
  .work-hard-section .circle-container {
    position: absolute;
    height: 400px;
    width: 400px;
    right: 50%; }
  .work-hard-section .work-container {
    position: absolute;
    top: 35%;
    right: 30%; }
    .work-hard-section .work-container .w-lg {
      color: #ED2F48;
      display: inline-block;
      font-family: 'Brandon-Grotesque', sans-serif;
      font-size: 372px;
      height: 395px;
      position: relative;
      z-index: 8000; }
    .work-hard-section .work-container h1 {
      display: inline-block;
      color: #ED2F48;
      position: relative;
      top: -90px;
      font-size: 52px; }
    .work-hard-section .work-container p {
      width: 280px;
      position: relative;
      top: -250px;
      left: 340px; }
  .work-hard-section .play-container {
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 24%;
    z-index: 9000; }
    .work-hard-section .play-container .p-lg {
      font-family: 'Brandon-Grotesque', sans-serif;
      font-size: 372px;
      color: #31BBAC;
      display: inline-block;
      height: 395px; }
    .work-hard-section .play-container h1 {
      display: inline-block;
      color: #31BBAC;
      position: relative;
      left: -90px; }
    .work-hard-section .play-container p {
      display: block;
      width: 270px;
      position: relative;
      left: 28%; }

.leaders-section h1 {
  font-size: 43px;
  color: white;
  text-align: center;
  text-transform: none; }
.leaders-section .leaders-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-self: center;
  align-self: center;
  margin: 100px 0; }
  .leaders-section .leaders-container .leaders-item {
    background-color: #151529;
    border-radius: 1000px;
    border: 2px solid #ED2F48;
    width: 170px;
    height: 170px;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000; }
    .leaders-section .leaders-container .leaders-item:hover {
      overflow: visible; }
      .leaders-section .leaders-container .leaders-item:hover .flip-wrapper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      .leaders-section .leaders-container .leaders-item:hover .name-container {
        display: block;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        -webkit-transform: translateX(90px) translateY(0);
        -moz-transform: translateX(90px) translateY(0);
        -o-transform: translateX(90px) translateY(0);
        transform: translateX(90px) translateY(0);
        z-index: -10;
        opacity: 1; }
    .leaders-section .leaders-container .leaders-item .flip-container, .leaders-section .leaders-container .leaders-item .front, .leaders-section .leaders-container .leaders-item .back {
      width: 157px;
      height: 157px;
      margin: 5px; }
    .leaders-section .leaders-container .leaders-item .flip-wrapper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 0.6s;
      -moz-transform-style: preserve-3d;
      -o-transition: 0.6s;
      -o-transform-style: preserve-3d;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      z-index: 1000; }
      .leaders-section .leaders-container .leaders-item .flip-wrapper .front img {
        border-radius: 300px; }
      .leaders-section .leaders-container .leaders-item .flip-wrapper .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: #ED2F48;
        border-radius: 1000px;
        text-align: center;
        padding-top: 25px; }
        .leaders-section .leaders-container .leaders-item .flip-wrapper .back p {
          margin: 0; }
        .leaders-section .leaders-container .leaders-item .flip-wrapper .back .line-break {
          height: 3px;
          width: 20px;
          background-color: white;
          margin: 10px auto; }
    .leaders-section .leaders-container .leaders-item .front, .leaders-section .leaders-container .leaders-item .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: -1px;
      left: -1px; }
    .leaders-section .leaders-container .leaders-item .name-container {
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      -webkit-transform: translateX(0px) translateY(0);
      -moz-transform: translateX(0px) translateY(0);
      -o-transform: translateX(0px) translateY(0);
      transform: translateX(0px) translateY(0);
      opacity: 0; }
      .leaders-section .leaders-container .leaders-item .name-container h1.letter-lg {
        font-family: 'Brandon-Grotesque', sans-serif;
        font-size: 223px;
        color: #31BBAC; }
      .leaders-section .leaders-container .leaders-item .name-container h1.name {
        position: relative;
        line-height: 40px;
        top: -80px;
        left: 90px;
        font-size: 30px;
        text-transform: uppercase;
        text-align: left; }

.hunters-section {
  margin-bottom: 200px; }
  .hunters-section ul li {
    list-style-type: none; }
  .hunters-section .slider--teams {
    position: relative;
    top: 250px;
    left: 50%;
    max-width: 750px;
    opacity: 0;
    transform: translate(-50%, -50%); }
    .hunters-section .slider--teams .slider--teams__team {
      position: relative;
      overflow: hidden; }
  .hunters-section #list {
    position: relative;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0); }
    .hunters-section #list li {
      position: relative;
      display: inline-block;
      float: left;
      text-align: center; }
      .hunters-section #list li figure {
        cursor: pointer;
        margin: 1em;
        opacity: 0.5;
        backface-visibility: hidden;
        transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
        transform: scale(0.5) translateZ(0px); }
        .hunters-section #list li figure:hover {
          opacity: 0.8;
          transform: scale(0.6) translateZ(0px); }
        .hunters-section #list li figure:active {
          opacity: 1;
          transform: scale(0.7) translateZ(0px); }
        .hunters-section #list li figure > div {
          border: 2px solid #ED2F48;
          border-radius: 5px;
          position: relative;
          margin: 2rem auto;
          width: 165px;
          height: 165px;
          overflow: hidden;
          transform: rotate(45deg) translateZ(0px);
          border-radius: 1000px; }
          .hunters-section #list li figure > div > div {
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/teams.jpg) no-repeat;
            background-size: cover;
            background-position: 0px 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 170px;
            height: 170px;
            transform: rotate(-45deg) translate(0%, -70%); }
        .hunters-section #list li figure figcaption h2 {
          color: white;
          font-size: 18px;
          font-weight: 800;
          line-height: 20px; }
        .hunters-section #list li figure figcaption p {
          color: white;
          font-size: 15px;
          font-weight: 400; }
      .hunters-section #list li:nth-child(1) figure > div > div {
        background-position: 0px 0px !important; }
      .hunters-section #list li:nth-child(2) figure > div > div {
        background-position: 0px 20% !important; }
      .hunters-section #list li:nth-child(3) figure > div > div {
        background-position: 0px 40% !important; }
      .hunters-section #list li:nth-child(4) figure > div > div {
        background-position: 0px 60% !important; }
      .hunters-section #list li:nth-child(5) figure > div > div {
        background-position: 0px 80% !important; }
      .hunters-section #list li:nth-child(6) figure > div > div {
        background-position: 0px 100% !important; }
  .hunters-section .active {
    opacity: 1 !important;
    transform: scale(1) translateZ(0px) !important; }
  .hunters-section .cf:before,
  .hunters-section .cf:after {
    content: " ";
    display: table; }
  .hunters-section .cf:after {
    clear: both; }
  .hunters-section .cf {
    *zoom: 1; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #nav-icon span:nth-child(4) {
    background-color: red !important; }

  .landing .case-study-container .main .view h2 {
    line-height: 44px; }
  .landing .case-study-container .main .view p {
    display: none; }

  .work-hard-section .work-container {
    right: 25%; }
  .work-hard-section .play-container {
    right: 16%; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #nav-icon span:nth-child(4) {
    background-color: blue !important; }

  .landing .about-section {
    width: 300px; }
  .landing .circle-section .circle-container {
    top: 0 !important;
    right: -30% !important; }
    .landing .circle-section .circle-container .circle-animation {
      width: 70%;
      height: 70%; }
    .landing .circle-section .circle-container .text-container {
      top: 150px;
      left: 5%; }
  .landing .stc-container {
    margin-top: 0; }
  .landing .case-study-container .main .view {
    width: 47%; }
    .landing .case-study-container .main .view .mask a.info img.cta-arrow {
      width: 80px !important; }
  .landing .case-study-container .main .view-tenth h2 {
    border-bottom: none !important;
    font-size: 40px;
    line-height: 40px; }
  .landing .case-study-container .main .view-tenth p {
    display: none; }

  #slider-1 {
    position: relative;
    left: 20%;
    margin: 250px auto 0px auto;
    width: 500px;
    min-height: 600px; }
    #slider-1 #icon-0 {
      width: 320px;
      height: 320px;
      top: 30px; }

  .work-hard-section .work-container {
    right: 10%; }
  .work-hard-section .play-container {
    right: 0; }

  .leaders-section .leaders-container {
    grid-template-columns: 1fr 1fr; }

  footer .contact-container {
    width: 55%; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #nav-icon span:nth-child(4) {
    background-color: green !important; }

  .main-nav #parent {
    font-size: 45px;
    margin: 0 0 0 15%; }
    .main-nav #parent #wrapper .nav-arrow {
      display: none; }
    .main-nav #parent #wrapper .nav-arrow-small {
      display: block;
      width: auto;
      height: 30px; }
    .main-nav #parent #wrapper:hover #child {
      transform: translateX(278%); }

  .landing .circle-section .circle-container {
    right: inherit !important; }
    .landing .circle-section .circle-container .text-container {
      left: 0% !important;
      width: 380px !important; }
      .landing .circle-section .circle-container .text-container .lets-hunt {
        width: 190px; }
        .landing .circle-section .circle-container .text-container .lets-hunt h1 {
          font-size: 115px !important;
          margin-bottom: 40px !important; }
        .landing .circle-section .circle-container .text-container .lets-hunt img {
          width: 180px !important; }
      .landing .circle-section .circle-container .text-container .some h1 {
        font-size: 90px !important; }
      .landing .circle-section .circle-container .text-container .wandering h1 {
        font-size: 90px; }
  .landing .circle-section .circle-container-small {
    display: none; }
  .landing .stc-container .stc-content {
    width: 100%;
    margin: 0 2% 50px 0; }
  .landing .stc-container #technology {
    top: 0;
    margin: 0 0% 50px 0px;
    padding-left: 0px; }
  .landing .case-study-container .main .view {
    width: 80%;
    margin: 0 10%; }

  .work-hard-section {
    margin: 300px 0; }
    .work-hard-section .circle-container {
      right: 35%; }
    .work-hard-section .work-container {
      right: 8%;
      top: 45%; }
      .work-hard-section .work-container .w-lg {
        font-size: 300px; }
      .work-hard-section .work-container h1 {
        top: 0px;
        font-size: 32px;
        left: 5px; }
      .work-hard-section .work-container p {
        top: -280px;
        left: 280px;
        width: 200px; }
    .work-hard-section .play-container {
      right: -40px;
      top: 75%; }
      .work-hard-section .play-container .p-lg {
        font-size: 330px;
        height: 395px; }
      .work-hard-section .play-container h1 {
        left: -90px;
        font-size: 32px; }
      .work-hard-section .play-container p {
        width: 200px;
        left: 31%; }

  .leaders-section .leaders-container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px; }

  .hunters-section .cf {
    padding: 0;
    margin-left: 30%; }
    .hunters-section .cf li figure div {
      width: 145px !important;
      height: 145px !important; }

  footer {
    height: auto; }
    footer .logo-container {
      float: none; }
      footer .logo-container img {
        max-width: 300px; }
    footer .contact-container {
      float: none;
      margin: 80px auto 0;
      width: 90%; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #nav-icon span:nth-child(4) {
    background-color: yellow !important; }

  .main-nav #parent {
    font-size: 30px;
    margin: 0 0 0 12%;
    line-height: 40px;
    height: 55px; }
    .main-nav #parent #wrapper .nav-arrow-small {
      height: 20px; }
    .main-nav #parent #wrapper #child {
      top: 9px; }
    .main-nav #parent #wrapper:hover #child {
      transform: translateX(425%); }

  .landing .circle-section .circle-container .text-container .lets-hunt h1 {
    font-size: 85px !important;
    margin-bottom: 10px !important; }
  .landing .circle-section .circle-container .text-container .lets-hunt img {
    width: 140px !important; }
  .landing .circle-section .circle-container .text-container .some h1 {
    font-size: 50px !important;
    left: -40px; }
  .landing .circle-section .circle-container .text-container .wandering {
    margin-bottom: 10px; }
    .landing .circle-section .circle-container .text-container .wandering h1 {
      font-size: 62px;
      margin-top: 5px; }
  .landing .circle-section .circle-container .text-container .arrow-small, .landing .circle-section .circle-container .text-container .ideer {
    width: 28%; }
  .landing .case-study-container .main .view-tenth .mask h2 {
    margin: 15px;
    font-size: 30px; }
  .landing .case-study-container .main .view-tenth .mask a.info {
    bottom: 10px;
    right: 10px; }
    .landing .case-study-container .main .view-tenth .mask a.info img {
      width: 60px !important; }

  .typewriter-banner h3 {
    font-size: 26px; }
  .typewriter-banner .hunter-banner h1 {
    font-size: 40px; }

  .work-hard-section .circle-container {
    right: 40%;
    top: 800px; }
  .work-hard-section .work-container {
    right: 8%;
    top: 55%; }
    .work-hard-section .work-container .w-lg {
      font-size: 150px; }
    .work-hard-section .work-container h1 {
      top: 0px;
      font-size: 32px;
      left: 5px; }
    .work-hard-section .work-container p {
      top: -420px;
      left: 145px;
      width: 180px; }
  .work-hard-section .play-container {
    right: 40px;
    top: 75%; }
    .work-hard-section .play-container .p-lg {
      font-size: 170px;
      height: 195px; }
    .work-hard-section .play-container h1 {
      left: 0px;
      font-size: 32px; }
    .work-hard-section .play-container p {
      width: 180px;
      left: 40%; }

  .leaders-section h1 {
    font-size: 40px; }

  .hunters-section .cf li figure {
    margin: 0 !important; }
    .hunters-section .cf li figure div {
      width: 115px !important;
      height: 115px !important; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #nav-icon span:nth-child(4) {
    background-color: pink !important; } }
body {
  height: auto;
  width: 100%; }

/*# sourceMappingURL=master.css.map */
