// _globals.scss

body {
  background-color: $hunter-blue;
}


/* CTA */
#parent {
  position: relative;
  height: 60px;
  width: auto;
  font-family: 'Brandon-Grotesque';
  text-transform: uppercase;
  font-size: 52px;
  color: white;
  display: block;
  margin: 0px 5%;
  transition: all .33s ease-in-out;
  padding: 0;
  line-height: 64px;
}
#wrapper {
  position: absolute;
  width: auto;
  height: auto;
  transition: all .33s ease-in;
}
#child {
  position: absolute;
  width: 550px;
  background-color: transparent;
  transition: inherit;
  top: -10px;
  left: -1300px;
}
#wrapper:hover #child {
    transform: translateX(225%);
}
