// _globals.scss

body {
  background-color: $hunter-blue;
  overflow-x: hidden;
  color: white;
}

p {
  font-family: 'Open-Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
}
h1, h2 {
  font-family: 'Brandon-Grotesque', sans-serif;
  font-size: 55px;
  line-height: 64px;
  text-transform: uppercase;
}
h3 {
  font-family: 'Open-Sans', sans-serif;
  font-size: 36px;
}
ul {
  li {
    font-size: 15px;
  }
}


.site-container {
  width: 70%;
  margin: 0 15%;
}

.no-padding {
  padding: 0;
}



// CTA
//default button

.cta-container {
  // display: table-cell;
  // padding: 1em;
  text-align: center;
  // vertical-align: middle;

  .btn-default {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto;
    max-width: 200px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;

    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;

    &:hover { text-decoration: none; }
  }

  .btn-cta {
    background: transparent;
    font-weight: 100;

    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: $hunter-green;
      stroke-width: 2;
      stroke-dasharray: 422, 0;
    }
  }

  .btn-cta:hover {
    font-weight: 900;
    letter-spacing: 1px;

    rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

// Circle Animation (Landing Page)
.circle-animation {
  width: 100%;
  height: 100%;
  position: absolute;
}
.icon{
    position: absolute;
    width: 22%;
    height: 22%;
    background: url('../img/assets/cir-center.svg') no-repeat;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 3;

    -webkit-box-shadow:
      0 0 0 0px   rgba(255,255,255,.2),
      0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 0px   rgba(255,255,155,.4);
    -moz-box-shadow:
      0 0 0 0px   rgba(255,255,255,.2),
      0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 0x   rgba(255,255,155,.4);
    box-shadow:
      0 0 0 0x   rgba(255,255,255,.2),
      0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 0px   rgba(255,255,155,.4);

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /* border-radius: 50% has issues on some mobile browsers */
}

.pulse1 {
    position: absolute;
    width: 40%;
    height: 40%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    opacity: .7;
    border: 3px solid $hunter-green;

    -webkit-animation: pulsejg1 4s linear;
    -moz-animation: pulsejg1 4s linear;
    animation: pulsejg1 4s linear;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 0px 0px $hunter-green;
    -moz-box-shadow: inset 0px 0px 0px 0px $hunter-green;
    box-shadow: inset 0px 0px 0px 0px $hunter-green;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse2 {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    opacity: 1;
    border: 1px solid $hunter-pink;

    -webkit-animation: pulsejg2 4s linear;
    -moz-animation: pulsejg2 4s linear;
    animation: pulsejg2 4s linear;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 0px 0px $hunter-pink;
    -moz-box-shadow: inset 0px 0px 0px 0px $hunter-pink;
    box-shadow: inset 0px 0px 0px 0px $hunter-pink;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pulse3 {
    position: absolute;
    width: 60%;
    height: 60%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 3;
    opacity: .7;
    border: 3px solid $hunter-green;

    -webkit-animation: pulsejg3 4s linear;
    -moz-animation: pulsejg3 4s linear;
    animation: pulsejg3 4s linear;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 0px 0px $hunter-green;
    -moz-box-shadow: inset 0px 0px 0px 0px $hunter-green;
    box-shadow: inset 0px 0px 0px 0px $hunter-green;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse4 {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 4;
    opacity: 1;
    border: 1px solid $hunter-pink;

    -webkit-animation: pulsejg4 4s linear;
    -moz-animation: pulsejg4 4s linear;
    animation: pulsejg4 4s linear;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 0px 0px $hunter-pink;
    -moz-box-shadow: inset 0px 0px 0px 0px $hunter-pink;
    box-shadow: inset 0px 0px 0px 0px $hunter-pink;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse5 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 5;
    opacity: .7;
    border: 3px solid $hunter-green;

    -webkit-animation: pulsejg5 4s linear;
    -moz-animation: pulsejg5 4s linear;
    animation: pulsejg5 4s linear;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 0px 0px $hunter-green;
    -moz-box-shadow: inset 0px 0px 0px 0px $hunter-green;
    box-shadow: inset 0px 0px 0px 0px $hunter-green;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(0);
        opacity: .1;
    }
    20% {
        -webkit-transform: scale(.2);
        opacity: .3;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.6);
        opacity: .8;
    }
    80% {
        -webkit-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(0);
        opacity: .1;
    }
    20% {
        -moz-transform: scale(.2);
        opacity: .3;
    }
    40% {
        -moz-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -moz-transform: sscale(.6);
        opacity: .8;
    }
    80% {
        -moz-transform: scscale(.8);
        opacity: .6;
    }
    100% {
        -moz-transform: sscale(1);
        opacity: 1;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(0);
        opacity: .1;
    }
    20% {
        transform: scale(.2);
        opacity: .3;
    }
    40% {
        transform: scale(.4);
        opacity: .5;
    }
    60% {
        transform: scale(.6);
        opacity: .8;
    }
    80% {
        transform: scale(.8);
        opacity: .6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(0);
        opacity: .1;
    }
    20% {
        -webkit-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.6);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(0);
        opacity: .1;
    }
    20% {
        -moz-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -moz-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -moz-transform: scale(.6);
        opacity: .8
    }
    80% {
        -moz-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(0);
        opacity: .1;
    }
    20% {
        transform: scale(.2);
        opacity: .305;
    }
    40% {
        transform: scale(.4);
        opacity: .5;
    }
    60% {
        transform: scale(.6);
        opacity: .8
    }
    80% {
        transform: scale(.8);
        opacity: .6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

//pulsejg3
@-webkit-keyframes pulsejg3 {
    0% {
        -webkit-transform: scale(0);
        opacity: .1;
    }
    20% {
        -webkit-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.6);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulsejg3 {
    0% {
        -moz-transform: scale(0);
        opacity: .1;
    }
    20% {
        -moz-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -moz-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -moz-transform: scale(.6);
        opacity: .8
    }
    80% {
        -moz-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulsejg3 {
    0% {
        transform: scale(0);
        opacity: .1;
    }
    20% {
        transform: scale(.2);
        opacity: .305;
    }
    40% {
        transform: scale(.4);
        opacity: .5;
    }
    60% {
        transform: scale(.6);
        opacity: .8
    }
    80% {
        transform: scale(.8);
        opacity: .6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

//pulsejg4
@-webkit-keyframes pulsejg4 {
    0% {
        -webkit-transform: scale(0);
        opacity: .1;
    }
    20% {
        -webkit-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.6);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulsejg4 {
    0% {
        -moz-transform: scale(0);
        opacity: .1;
    }
    20% {
        -moz-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -moz-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -moz-transform: scale(.6);
        opacity: .8
    }
    80% {
        -moz-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulsejg4 {
    0% {
        transform: scale(0);
        opacity: .1;
    }
    20% {
        transform: scale(.2);
        opacity: .305;
    }
    40% {
        transform: scale(.4);
        opacity: .5;
    }
    60% {
        transform: scale(.6);
        opacity: .8
    }
    80% {
        transform: scale(.8);
        opacity: .6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

//pulsejg5
@-webkit-keyframes pulsejg5 {
    0% {
        -webkit-transform: scale(0);
        opacity: .1;
    }
    20% {
        -webkit-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .5;
    }
    60% {
        -webkit-transform: scale(.6);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulsejg5 {
    0% {
        -moz-transform: scale(0);
        opacity: .1;
    }
    20% {
        -moz-transform: scale(.2);
        opacity: .305;
    }
    40% {
        -moz-transform:scale(.4);
        opacity: .5;
    }
    60% {
        -moz-transform: scale(.6);
        opacity: .8
    }
    80% {
        -moz-transform: scale(.8);
        opacity: .6;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulsejg5 {
    0% {
        transform: scale(0);
        opacity: .1;
    }
    20% {
        transform: scale(.2);
        opacity: .305;
    }
    40% {
        transform: scale(.4);
        opacity: .5;
    }
    60% {
        transform: scale(.6);
        opacity: .8
    }
    80% {
        transform: scale(.8);
        opacity: .6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



//////////////// Client Circle Animation //////////////////
// // Demo SHITE
// // ====================================
// html,body {height: 100%;margin:0;}body{display: flex;flex-direction:column;align-items: center;justify-content:center;width:100%;background:#324D5B;}svg{max-width:100%;}


// Required SHITE
// ====================================

$circle-count: 9;
$loader-proportion: 500px;
$animation_config: (
  name: spin,
  duration: 4s,
  timing: ease-in-out,
  iteration: 1,
  direction: reverse,
  fill-mode: both
);

@function sh-setup($config) {
  @return zip(map-values($config)...);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: sh-setup($animation_config);
  height: $loader-proportion;
  position: relative;
  width: $loader-proportion;
  margin: 150px auto;

  svg:not(#circle-middle) {
    animation: sh-setup($animation_config);
    position: absolute;
    top: -50%;
    left: 0;
    transform-origin: bottom center;
  }
}

@for $i from 1 through $circle-count {
  .loader svg:nth-of-type(#{$i}):not(#circle-middle) {
    transform: rotate(($i * (360/($circle-count - 1))) + deg);
  }
}


// Typewriter effect
.typewriter h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
