// _landing.scss

.landing {

  .about-section {
    width: 30%;
    margin-top: 100px;

    h1 {
      color: $hunter-pink;
    }
    p {
      color: white;

      b {
        font-family: 'open-sans-bold', sans-serif;
      }
    }
  }


  ////////////////////////////// Circle Section ///////////////////////////////////////////////
  .circle-section {
    height: 700px;
    display: block;

    .circle-container {
      display: block;
      width: 1000px;
      height: 1000px;
      position: relative;
      right: -40%;
      top: -300px;
      z-index: 100;

      .text-container {
        width: 420px;
        z-index: 9998;
        position: relative;
        top: 300px;
        right: -260px;

        .lets-hunt, .some, .wandering {
          h1 {
            font-family: 'Brandon-Grotesque', sans-serif;
            display: inline-block;
            font-size: 100px;
            text-transform: none;
          }
        }
        .lets-hunt {
          width: 210px;
          display: inline-block;

          h1 {
            font-size: 140px;
            margin-bottom: 30px;
            position: relative;
            left: -12px;
          }
          img {
            width: 200px;
          }
        }
        .some {
          width: 37%;
          display: inline-block;

          h1 {
            margin-top: 20px;
            position: relative;
            top: 15px;
          }
        }
        .wandering {
          margin-bottom: 30px;

          h1 {
            margin-top: 0px;
          }
        }
        .arrow-small, .ideer {
          display: inline-block;
          width: 45%;
        }
        .ideer {
            margin-left: 30px;
        }
      }
    }
    .circle-container-small {
      display: block;
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      top: -670px;
    }
  } // Circle Section End



  ////////////////////////////// STC Section ////////////////////////////////////////////////////////////
  .stc-container {
    margin-top: -150px;

    .stc-content {
      display: inline-block;
      width: 48%;
      margin: 0 2% 100px 0;
      padding-right: 0px;

      .title {
        img {
          width: 230px;
        }
        h1 {
          margin-top: -115px;
        }
        h1.c {
          margin-top: -51px;
          color: $hunter-green;
        }
      }

      .ul-container {
        ul {
          padding: 0;

          li {
            list-style-type: '-';
            padding-left: 4px;
            margin-left: 6px;
          }
        }
      }
    }

    #technology {
      position: relative;
      top: 300px;
      margin: 0 0% 100px 0px;
      padding-left: 50px;
      left: 104px;
    }
  }



  ///////////////////////// Case Study Grid Section ////////////////////////////////////////////////////////////
  .case-study-container {
    height: auto;

    .main {
      .view {
        display: inline-block;
        width: 48%;
        height: auto;
        margin: 5px;
        float: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        background-color: $hunter-pink;

        .cs-bg-img {
          display: block;
          position: relative;
          margin: auto;

          height: 65vh;
          width: 100%;
        }

        h2 {
          text-transform: none;
          color: #fff;
          text-align: left;
          position: relative;
          font-size: 36px;
        }

        p {
          font-size: 15px;
          position: relative;
          color: #fff;
          padding: 0px 40px 0px;
          text-align: left;
          margin: 0;
          line-height: 22px;
        }
        p.description {
          margin-top: 30px;
        }

        .info {
          display: inline-block;
          text-decoration: none;
          padding: 7px 14px;
          background: #000;
          color: #fff;
          text-transform: uppercase;
          position: absolute;
          bottom: 30px;
          right: 30px;
          text-align: left;
          background-color: transparent;

          img.cta-arrow {
            width: 100px;
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
        }
      }
      .view .mask,.view .content {
        width: auto;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
      }


      // hover animation effect
      .view-tenth {
        &:hover {
          cursor: pointer;

          .cs-bg-img {
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
          }
        }
        .cs-bg-img {
           -webkit-transition: all 0.7s ease-in-out;
           -moz-transition: all 0.7s ease-in-out;
           -o-transition: all 0.7s ease-in-out;
           -ms-transition: all 0.7s ease-in-out;
           transition: all 0.7s ease-in-out;
        }
        .mask {
           -webkit-transition: all 0.5s linear;
           -moz-transition: all 0.5s linear;
           -o-transition: all 0.5s linear;
           -ms-transition: all 0.5s linear;
           transition: all 0.5s linear;

           h2 {
              background: transparent;
              margin: 20px 40px;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -o-transform: scale(0);
              -ms-transform: scale(0);
              transform: scale(0);
              -webkit-transition: all 0.5s linear;
              -moz-transition: all 0.5s linear;
              -o-transition: all 0.5s linear;
              -ms-transition: all 0.5s linear;
              transition: all 0.5s linear;
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
           }

           p {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -o-transform: scale(0);
              -ms-transform: scale(0);
              transform: scale(0);
              -webkit-transition: all 0.5s linear;
              -moz-transition: all 0.5s linear;
              -o-transition: all 0.5s linear;
              -ms-transition: all 0.5s linear;
              transition: all 0.5s linear;
           }

           .info {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -o-transform: scale(0);
              -ms-transform: scale(0);
              transform: scale(0);
              -webkit-transition: all 0.5s linear;
              -moz-transition: all 0.5s linear;
              -o-transition: all 0.5s linear;
              -ms-transition: all 0.5s linear;
              transition: all 0.5s linear;
           }
        }
      }

      .view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover .info {
         -webkit-transform: scale(1);
         -moz-transform: scale(1);
         -o-transform: scale(1);
         -ms-transform: scale(1);
         transform: scale(1);
         -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
         filter: alpha(opacity=100);
         opacity: 1;
      }
    }

    .cta-container {
      margin: 80px auto;
      text-align: center;

      .btn-cta svg rect {
        stroke: $hunter-green;
      }
    }
  }
}



////////////////////////// Work With Banner Section ////////////////////////////////////////////////////////////
.typewriter-banner {
  text-align: center;
  background-color: $hunter-pink;
  padding: 15px 0 25px;
  margin-bottom: 50px;

  .typewriter {
    width: 400px;
    margin: 0 auto;

    h1 {
      display: block;
    }
  }
}



////////////////////////// Clients Loader Section ////////////////////////////////////////////////////////////
/*------ See Globals line 700 + For animated circle feature ------*/
.clients-mobile {
  display: none;
}

@media only screen and (max-width : 768px) {
  .client-circle-section {
    display: none;
  }
  .clients-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-self: center;
    align-self: center;
    margin: 100px 0;

    .icon-client-mob {
      max-width: 160px;
      margin: 0 auto;
    }
  }
}


////////////////////////// Lets Hunt Section Section ////////////////////////////////////////////////////////////
.lets-hunt-section {
  background-color: $hunter-green;
  width: 100%;
  padding: 150px 0;
  text-align: center;
  display: block;
  position: relative;

  .lets-hunt-container {
    width: 70%;
    margin: 0 auto;

    img.arrow {
      width: 200px;
      float: right;
      margin-top: 40px;
    }
    .btn-cta {
      margin: 100px auto 0;
      display: block;

      rect {
        stroke: $hunter-pink;
        stroke-width: 5;
      }

      &:hover {
        rect {
          stroke-width: 5;
        }
      }
    }
  }
}
