// _landing.scss

.landing {

  .about-section {
    width: 30%;
    margin-top: 100px;

    h1 {
      color: $hunter-pink;
    }
    p {
      color: white;

      b {
        font-family: 'open-sans-bold', sans-serif;
      }
    }
  }
}
