
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	#nav-icon span:nth-child(4) { background-color: red !important; }

      .landing .case-study-container .main .view {
        h2 {
          line-height: 44px;
        }

        p {
          display: none;
        }
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	#nav-icon span:nth-child(4) { background-color: blue !important; }

      .landing {
        .about-section {
          width: 300px;
        }

        .circle-section {
          .circle-container {
            top: 0 !important;
            right: -30% !important;

            .circle-animation {
              width: 70%;
              height: 70%;
            }

            .text-container {
              top: 150px;
              left: 5%;
            }
          }
        }

        .stc-container {
          margin-top: 0;
        }

        .case-study-container {
          .main {
            .view {
              width: 47%;

              .mask {
                a.info {
                  img.cta-arrow {
                    width: 80px !important;
                  }
                }
              }
            }

            .view-tenth {
              h2 {
                border-bottom: none !important;
                font-size: 40px;
                line-height: 40px;
              }
              p {
                display: none;
              }
            }
          }
        }
      }

      #slider-1 {
        position: relative;
        left: 20%;
        margin: 250px auto 0px auto;
        width: 500px;
        min-height: 600px;

        #icon-0 {
          width: 320px;
          height: 320px;
          top: 30px;
        }
      }

      footer .contact-container {
        width: 55%;
      }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	#nav-icon span:nth-child(4) { background-color: green !important; }

      .main-nav {
        #parent {
          font-size: 45px;
          margin: 0 0 0 15%;

          #wrapper  {
            .nav-arrow { display: none;}
            .nav-arrow-small {display: block; width: auto; height: 30px;}

            &:hover {
              #child { transform: translateX(278%); }
            }
          }
        }
      }

      .landing {
        .circle-section {
          .circle-container {
            right: inherit !important;

            .text-container {
              left: 0% !important;
              width: 380px !important;

              .lets-hunt {
                width: 190px;

                h1 {
                  font-size: 115px !important;
                  margin-bottom: 40px !important;
                }
                img {
                  width: 180px !important;
                }
              }
              .some {
                h1 {
                  font-size: 90px !important;
                }
              }
              .wandering {
                h1 {
                  font-size: 90px;
                }
              }
            }
          }

          .circle-container-small {
            display: none;
          }
        }

        .stc-container {
          .stc-content {
            width: 100%;
            margin: 0 2% 50px 0;
          }

          #technology {
            top: 0;
            margin: 0 0% 50px 0px;
            padding-left: 0px;
          }
        }


        .case-study-container .main .view {
          width: 80%;
          margin: 0 10%;
        }
      }

      footer {
        height: auto;

        .logo-container {
          float: none;

          img {
            max-width: 300px;
          }
        }

        .contact-container {
          float: none;
          margin: 80px auto 0;
          width: 90%;
        }
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    	#nav-icon span:nth-child(4) { background-color: yellow !important; }

      .main-nav {
        #parent {
          font-size: 30px;
          margin: 0 0 0 12%;
          line-height: 40px;
          height: 55px;

          #wrapper {
            .nav-arrow-small {
              height: 20px;
            }
            #child {
              top: 9px;
            }
            &:hover {
              #child { transform: translateX(425%); }
            }
          }
        }
      }

      .landing {
        .circle-section .circle-container .text-container{
          .lets-hunt {
            h1 {
              font-size: 85px !important;
              margin-bottom: 10px !important;
            }
            img {
              width: 140px !important;
            }
          }
          .some {
            h1 {
              font-size: 50px !important;
              left: -40px;
            }
          }
          .wandering {
            margin-bottom: 10px;

            h1 {
              font-size: 62px;
              margin-top: 5px;
            }
          }
          .arrow-small, .ideer {
            width: 28%;
          }
        }


        .case-study-container {
          .main {
            .view-tenth {
              .mask {
                h2 {
                  margin: 15px;
                  font-size: 30px;
                }
                a.info {
                  bottom: 10px;
                  right: 10px;

                  img {
                    width: 60px !important;
                  }
                }
              }
            }
          }
        }
      }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
        #nav-icon span:nth-child(4) { background-color: pink !important; }
    }
