
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	#nav-icon span:nth-child(4) { background-color: red !important; }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	#nav-icon span:nth-child(4) { background-color: blue !important; }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	#nav-icon span:nth-child(4) { background-color: green !important; }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    	#nav-icon span:nth-child(4) { background-color: yellow !important; }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
        #nav-icon span:nth-child(4) { background-color: pink !important; } 
    }
