
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	#nav-icon span:nth-child(4) { background-color: red !important; }

      .landing .case-study-container .main .view {
        h2 {
          line-height: 44px;
        }

        p {
          display: none;
        }
      }
      .landing .circle-section .circle-container .text-container {
          left: 20%;
      }

      // WHAT WE DO
      .what-we-do-section {
        .circle-container {
          width: 350px;
          height: 350px;

          .arrow-container {
            .arrow-left {
              top: 21%;
              width: 250px;
              left: -8.4%;
            }
            .arrow-right {
              top: 74px;
              width: 250px;
              right: -8.5%;
            }
            .arrow-bottom {
              top: 83%;
              width: 250px;
              left: 14.3%;
            }
          }
        }

        .social-container h1, .technology-container h1, .creative-container h1 {
          font-size: 45px;
          line-height: 55px;
        }
        .technology-container {
          width: 23%;
        }
        .creative-container {
          top: 830px;
        }
      }


      //Project
      .project-jumbo {
        .project-title {
          h1 {
            font-size: 45px;
          }
        }
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	#nav-icon span:nth-child(4) { background-color: blue !important; }

      .landing {
        .about-section {
          width: 300px;
        }

        .circle-section {
          .circle-container {
            top: 0 !important;
            right: -30% !important;

            .circle-animation {
              width: 70%;
              height: 70%;
            }

            .text-container {
              top: 150px;
              left: 5%;
            }
          }
        }

        .stc-container {
          margin-top: 0;
        }

        .case-study-container {
          .main {
            .view {
              width: 47%;

              .mask {
                a.info {
                  img.cta-arrow {
                    width: 80px !important;
                  }
                }
              }
            }

            .view-tenth {
              h2 {
                border-bottom: none !important;
                font-size: 40px;
                line-height: 40px;
              }
              p {
                display: none;
              }
            }
          }
        }
      }

      #slider-1 {
        position: relative;
        left: 20%;
        margin: 250px auto 0px auto;
        width: 500px;
        min-height: 600px;

        #icon-0 {
          width: 320px;
          height: 320px;
          top: 30px;
        }
      }


      //who-we-are
      .leaders-section .leaders-container {
          grid-template-columns: 1fr 1fr;
      }

      footer .contact-container {
        width: 55%;
      }



      // What we do
      .what-we-do-section {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        justify-self: start;
        align-self: start;
        margin: 0 5%;

        .social-container, .technology-container, .creative-container {
          position: static;
          width: auto;
        }

        .creative-container {
          margin: 0;
        }
        .circle-container {
          width: 300px;
          height: 300px;
          margin: auto;

          .circle-animation {
            top: -100px;
          }

          .arrow-container {
            display: none;
          }
        }
      }


      //our-projects
      .works-filter-container .main .view {
        h2 {
          line-height: 40px;
        }
      }


      //project (single)
      .project-jumbo {
        .project-title {
          width: 60%;
        }
      }
      .project-content {
        .issue h2, .solutions h2 {
          font-size: 40px;
        }
      }




    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	#nav-icon span:nth-child(4) { background-color: green !important; }

      .main-nav {
        #parent {
          font-size: 45px;
          margin: 0 0 0 15%;

          #wrapper  {
            .nav-arrow { display: none;}
            .nav-arrow-small {display: block; width: auto; height: 30px;}

            &:hover {
              #child { transform: translateX(278%); }
            }
          }
        }
      }

      .landing {
        .circle-section {
          .circle-container {
            right: inherit !important;

            .text-container {
              left: 0% !important;
              width: 380px !important;

              .lets-hunt {
                width: 190px;

                h1 {
                  font-size: 115px !important;
                  margin-bottom: 40px !important;
                }
                img {
                  width: 180px !important;
                }
              }
              .some {
                h1 {
                  font-size: 90px !important;
                }
              }
              .wandering {
                h1 {
                  font-size: 90px;
                }
              }
            }
          }

          .circle-container-small {
            display: none;
          }
        }

        .stc-container {
          .stc-content {
            width: 100%;
            margin: 0 2% 50px 0;
          }

          #technology {
            top: 0;
            margin: 0 0% 50px 0px;
            padding-left: 0px;
          }
        }


        .case-study-container .main .view {
          width: 80%;
          margin: 0 10%;
        }
      }


      //who-we-are
      .work-hard-section {
        .whph-container {
          padding: 0;
          margin: 0 auto;
          width: 500px;

          .circle-container {
            height: 400px;
          width: 400px;
          position: relative;
          top: 250px;
          left: -80px;
          }

          .work-container {
            left: 1%;
            top: -330px;

            .w-lg {
              font-size: 300px;
            }
            h1 {
              top: -55px;
              font-size: 32px;
              left: 5px;
            }
            p {
              top: -295px;
              left: 280px;
              width: 190px;
            }
          }
          .play-container {
            top: -560px;
            left: 170px;

            .p-lg {
              font-size: 330px;
              height: 395px;
            }
            h1 {
              left: -83px;
              font-size: 32px;
            }
            p {
              width: 200px;
              left: 118px;
              top: -60px;
            }
          }
        }
      }

      .typewriter-banner {
        margin-bottom: 200px;
      }

      .leaders-section .leaders-container {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
      }

      .hunters-section {
        .cf {
          padding: 0;
          margin-left: 30%;

          li {
            figure {
              div {
                width: 145px !important;
                height: 145px !important;
              }
            }
          }
        }
      }



      // What we do
      .what-we-do-section {
        grid-template-columns: 1fr;

        .circle-container {
          margin-top: 0px;
        }
      }

      // Our Projects
      .works-filter-container .main .view {
        p.description {
          display: none;
        }
      }

      //contact
      .contact-form-container {
        .cf-field {
          p {
            float: none !important;
          }
          .text-input {
            float: none !important;
          }
        }
        .cf-checkbox label {
          width: 48%;
        }
      }

      //Project
      .project-jumbo {
        .project-title {
          width: 90%;
        }
      }
      .project-content .solutions {
        padding-left: 0;
        margin-top: 50px;
      }

      // footer
      footer {
        height: auto;

        .logo-container {
          float: none;

          img {
            max-width: 300px;
          }
        }

        .contact-container {
          float: none;
          margin: 80px auto 0;
          width: 90%;
        }
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    	#nav-icon span:nth-child(4) { background-color: yellow !important; }

      .main-nav {
        #parent {
          font-size: 30px;
          margin: 0 0 0 12%;
          line-height: 40px;
          height: 55px;

          #wrapper {
            .nav-arrow-small {
              height: 20px;
            }
            #child {
              top: 9px;
            }
            &:hover {
              #child { transform: translateX(425%); }
            }
          }
        }
      }

      .landing {
        .circle-section .circle-container .text-container{
          .lets-hunt {
            h1 {
              font-size: 85px !important;
              margin-bottom: 10px !important;
            }
            img {
              width: 140px !important;
            }
          }
          .some {
            h1 {
              font-size: 50px !important;
              left: -40px;
            }
          }
          .wandering {
            margin-bottom: 10px;

            h1 {
              font-size: 62px;
              margin-top: 5px;
            }
          }
          .arrow-small, .ideer {
            width: 28%;
          }
        }


        .case-study-container {
          .main {
            .view-tenth {
              .mask {
                h2 {
                  margin: 15px;
                  font-size: 30px;
                }
                a.info {
                  bottom: 10px;
                  right: 10px;

                  img {
                    width: 60px !important;
                  }
                }
              }
            }
          }
        }
      }


      //who we are
      .typewriter-banner {
        h3 {
          font-size: 26px;
        }
        .hunter-banner {
          h1 {
            font-size: 40px;
          }
        }
      }

      .work-hard-section {
        margin: 0px 0 100px 0;

        .whph-container {
          width: auto;

          .circle-container {
            left: -150px;
          }
          .work-container {
            top: -170px;

            .w-lg {
              font-size: 150px;
            }
            h1 {
              top: 0px;
              font-size: 32px;
              left: 5px;
            }
            p {
              top: -420px;
              left: 145px;
              width: 180px;
            }
          }
          .play-container {
            top: -450px;
            left: 26%;

            .p-lg {
              font-size: 170px;
              height: 195px;
            }

            h1 {
              left: -45px;
              font-size: 32px;
              top: 0;
            }
            p {
              width: 180px;
              left: 60px;
              top: 0px;
            }
          }
        }
      }

      .leaders-section {
        h1 {
          font-size: 40px;
        }
      }

      .hunters-section {
        .cf {
          li {
            figure {
              margin: 0 !important;

              div {
                width: 115px !important;
                height: 115px !important;
              }
            }
          }
        }
      }


      // Our Projects
      .works-filter-container {
        .main  {
          grid-template-columns: 1fr !important;
        }
      }

      .contact-form-container {
        .cf-checkbox label {
          width: 100%;
        }
      }
      .contact-lower .become-hunter h2 {
        text-align: left;
      }


      // Project
      .project-jumbo .project-title h1 {
        font-size: 35px;
        line-height: 45px;
      }
      .project-content .issue .social-media-container p {
        display: block;
      }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
        #nav-icon span:nth-child(4) { background-color: pink !important; }
    }
