// _our-projects.scss

.works-filter-section {
  margin: 200px 0;

  .filter-controls {
    margin-left: 10%;

    .filter-button {
      border: none;
      background: transparent;
      color: white;
      font-family: "Open-Sans", sans-serif;
      border-radius: 0px;
      border-bottom: 1px solid transparent;
      transition: all .33s ease-in;

      &:hover, &:active, &:focus {
        color: $hunter-green;
        border-bottom: 1px solid $hunter-green;
      }
    }
  }

  .works-filter-container {
    margin-top: 100px;

    .main {
      width: 100%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      justify-items: start;
      align-items: start;
      height: auto;


      .holder {
        position: relative;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;

        .view {
          padding-bottom: 60%;

          .cs-bg-img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 0;
            flex-direction: column;
          }

          .mask {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background: $hunter-pink;
            padding: 30px 60px;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            -moz-transition-delay: 0.25s;
            -o-transition-delay: 0.25s;
            -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
            text-decoration: none;
            color: white;
            transition: all .33s ease-in;

            h2 {
              font-size: 36px;
            }
            p {
              font-size: 15px;
            }

            h2, p {
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -o-transform: scale(0);
              -ms-transform: scale(0);
              transform: scale(0);
              -webkit-transition: all 0.5s linear;
              -moz-transition: all 0.5s linear;
              -o-transition: all 0.5s linear;
              -ms-transition: all 0.5s linear;
              transition: all 0.5s linear;
            }

            &:hover {
              opacity: 1;

              h2, p {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
