// _project.scss

.project-jumbo {
  margin-top: 150px;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: start;
  align-items: start;
  height: auto;

  .holder {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;

    .view {
      padding-bottom: 32%;

      .project-bg-img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        flex-direction: column;
      }
    }
  }

  .project-title {
    background-color: $hunter-pink;
    width: 50%;
    padding: 100px 20px 50px 15%;
    position: relative;
    top: 300px;
  }
}

.project-content {
  margin: 100px 0;

  .issue {
    height: 500px;
    padding-right: 10%;

    .social-media-container {
      position: absolute;
      bottom: 40px;
      p {
        display: inline;
      }
      .social-icon {
        width: 30px;
        display: inline;
      }
    }
  }

  .solutions {
    padding-left: 10%;
  }
}

.project-images {
  margin-top: 100px;

  .project-img {
    margin-bottom: 100px;
  }
}
