// _what-we-do.scss
a.logo-home {
  top: 20px !important;
}
.typewriter-banner {
  margin-bottom: 200px;
}

.what-we-do-section {
  height: auto;
  margin-bottom: 200px;

  .social-container {
    width: 20%;
    position: absolute;
    top: 55%;
    left: 10%;

    h1 {
      color: $hunter-pink;
    }
  }
  .technology-container {
    width: 24%;
    position: absolute;
    top: 45%;
    right: 8%;

    h1 {
      color: $hunter-green;
    }
  }
  .creative-container {
    width: 290px;
    margin: 100px auto 0;
    position: absolute;
    top: 630px;
    left: 68%;

    h1 {
      margin-bottom: 20px;

      @supports
        ((-webkit-text-stroke-color: white)
        and
        (-webkit-text-fill-color: transparent))
        or
        ((-moz-text-stroke-color: white)
        and
        (-moz-text-fill-color: transparent)) {
        span {
             -moz-text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
             -moz-text-stroke-color: white;
          -webkit-text-stroke-color: white;
             -moz-text-stroke-width: 2px;
          -webkit-text-stroke-width: 2px;
        }
      }
    }
  }
  .circle-container {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;

    .arrow-container {
      .arrow-left {
        position: absolute;
        top: 47%;
        width: 250px;
        transform: rotate(0deg);
        left: -11.4%;
        z-index: 10;
      }
      .arrow-right {
        position: absolute;
        top: 111px;
        width: 250px;
        transform: rotate(140deg);
        right: -4.2%;
        z-index: 10;
      }
      .arrow-bottom {
        position: absolute;
        top: 66.3%;
        width: 250px;
        transform: rotate(-140deg);
        left: 41.7%;
        z-index: 10;
      }
    }
  }
  .pulse1, .pulse2, .pulse3, .pulse4, .pulse5 {
    -webkit-animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    animation: pulsejg1 4s linear infinite;
  }
}

.clients-banner {
  background-color: $hunter-pink;
}
