// _who-we-are.scss

.typewriter-banner {
  margin: 100px 0;
  background-color: $hunter-green;
}

.work-hard-section {
  height: 40vh;
  margin: 300px 0 200px;

  .circle-container {
    position: absolute;
    height: 400px;
    width: 400px;
    right: 50%;
  }

  .work-container {
    position: absolute;
    top: 35%;
    right: 30%;

    .w-lg {
      color: $hunter-pink;
      display: inline-block;
      font-family: 'Brandon-Grotesque', sans-serif;
      font-size: 372px;
      height: 395px;
      position: relative;
      z-index: 8000;

    }
    h1 {
      display: inline-block;
      color: $hunter-pink;
      position: relative;
      top: -90px;
      font-size: 52px;
    }
    p {
      width: 280px;
      position: relative;
      top: -250px;
      left: 340px;
    }
  }

  .play-container {
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 24%;
    z-index: 9000;

    .p-lg {
      font-family: 'Brandon-Grotesque', sans-serif;
      font-size: 372px;
      color: $hunter-green;
      display: inline-block;
      height: 395px;
    }
    h1 {
      display: inline-block;
      color: $hunter-green;
      position: relative;
      left: -90px;
    }
    p {
      display: block;
      width: 270px;
      position: relative;
      left: 28%;
    }
  }
}

.leaders-section {
  h1 {
    font-size: 43px;
    color: white;
    text-align: center;
    text-transform: none;
  }

  .leaders-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-self: center;
    align-self: center;
    margin: 100px 0;

    .leaders-item {
      border-radius: 1000px;
      border: 2px solid $hunter-pink;
      width: 150px;
      height: 150px;
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0 auto;

      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -o-perspective: 1000;
      perspective: 1000;

      &:hover {
        overflow: visible;

        .flip-wrapper {
          -webkit-transform: rotateY(180deg);
      		-moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
      		transform: rotateY(180deg);
        }
        .name-container {
          display: block;
          -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
          -webkit-transform: translateX(80px) translateY(0);
          -moz-transform: translateX(80px) translateY(0);
          -o-transform: translateX(80px) translateY(0);
          transform: translateX(80px) translateY(0);
          z-index: -10;
        }
      }

      .flip-container, .front, .back {
        width: 137px;
        height: 137px;
        margin: 5px;
      }

      .flip-wrapper {
        -webkit-transition: 0.6s;
      	-webkit-transform-style: preserve-3d;
      	-moz-transition: 0.6s;
      	-moz-transform-style: preserve-3d;
        -o-transition: 0.6s;
      	-o-transform-style: preserve-3d;
      	transition: 0.6s;
      	transform-style: preserve-3d;
      	position: relative;

        .front {
          img {
            border-radius: 300px;
          }
        }

        .back {
          -webkit-transform: rotateY(180deg);
        	-moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
        	transform: rotateY(180deg);
        	background: $hunter-pink;
          border-radius: 1000px;
          text-align: center;
          padding-top: 15px;

          p {
            margin: 0;
          }
          .line-break {
            height: 3px;
            width: 20px;
            background-color: white;
            margin: 10px auto;
          }
        }
      }

      .front, .back {
      	-webkit-backface-visibility: hidden;
      	-moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
      	backface-visibility: hidden;

      	position: absolute;
      	top: 0;
      	left: 0;
      }

      .name-container {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        -webkit-transform: translateX(-200px) translateY(0);
        -moz-transform: translateX(-200px) translateY(0);
        -o-transform: translateX(-200px) translateY(0);
        transform: translateX(-200px) translateY(0);

        h1.letter-lg {
          font-family: 'Brandon-Grotesque', sans-serif;
          font-size: 223px;
          color: $hunter-green;
        }

        h1.name {
          position: relative;
          line-height: 40px;
        }
      }
    }
  }
}
