// _who-we-are.scss

.typewriter-banner {
  margin: 100px 0;
  background-color: $hunter-green;
}

.work-hard-section {
  height: 100vh;
  margin: 0;

  .whph-container {
    margin: 0 auto;
    width: 700px;
    height: 750px;

    .circle-container {
      height: 400px;
      width: 400px;
      position: absolute;
      top: 250px;
    }

    .work-container {
      position: relative;
      height: 395px;
      left: 80px;

      .w-lg {
        color: $hunter-pink;
        display: inline-block;
        font-family: 'Brandon-Grotesque', sans-serif;
        font-size: 372px;
        height: 395px;
        position: relative;
        z-index: 8000;

      }
      h1 {
        display: inline-block;
        color: $hunter-pink;
        position: relative;
        top: -90px;
        font-size: 52px;
      }
      p {
        width: 280px;
        position: relative;
        top: -250px;
        left: 340px;
      }
    }

    .play-container {
      z-index: 9000;
      margin: 0 auto;
      position: relative;
      top: -200px;
      left: 285px;

      .p-lg {
        font-family: 'Brandon-Grotesque', sans-serif;
        font-size: 372px;
        color: $hunter-green;
        display: inline-block;
        height: 395px;
      }
      h1 {
        display: inline-block;
        color: $hunter-green;
        position: relative;
        left: -90px;
      }
      p {
        display: block;
        width: 270px;
        position: relative;
        left: 138px;
      }
    }
  }
}

.leaders-section {
  h1 {
    font-size: 43px;
    color: white;
    text-align: center;
    text-transform: none;
  }

  .leaders-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    justify-self: center;
    align-self: center;
    margin: 100px 0;

    .leaders-item {
      background-color: $hunter-blue;
      border-radius: 1000px;
      border: 2px solid $hunter-pink;
      width: 170px;
      height: 170px;
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0 auto;

      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      &:hover {
        overflow: visible;

        .flip-wrapper {
          -webkit-transform: rotateY(180deg);
      		-moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
      		transform: rotateY(180deg);
        }
        .name-container {
          display: block;
          -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
          -webkit-transform: translateX(90px) translateY(0);
          -moz-transform: translateX(90px) translateY(0);
          -o-transform: translateX(90px) translateY(0);
          transform: translateX(90px) translateY(0);
          z-index: -10;
          opacity: 1;
        }
      }


      .flip-wrapper {
        -webkit-transition: 0.6s;
      	-webkit-transform-style: preserve-3d;
      	-moz-transition: 0.6s;
      	-moz-transform-style: preserve-3d;
        -o-transition: 0.6s;
      	-o-transform-style: preserve-3d;
      	transition: 0.6s;
      	transform-style: preserve-3d;
      	position: relative;
        z-index: 1000;

        .front {
          img {
            border-radius: 1000px;
          }
        }

        .back {
          -webkit-transform: rotateY(180deg);
        	-moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
        	transform: rotateY(180deg);
        	background: $hunter-pink;
          border-radius: 1000px;
          text-align: center;
          padding-top: 25px;

          p {
            margin: 0;
          }
          .line-break {
            height: 3px;
            width: 20px;
            background-color: white;
            margin: 10px auto;
          }
        }
      }

      .front, .back {
      	-webkit-backface-visibility: hidden;
      	-moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
      	backface-visibility: hidden;

      	position: absolute;
        border: 2px solid $hunter-blue;
        top: 1px;
        left: 1px;
        width: 164px;
        height: 164px;
      }

      .name-container {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        -webkit-transform: translateX(-0px) translateY(0);
        -moz-transform: translateX(-0px) translateY(0);
        -o-transform: translateX(-0px) translateY(0);
        transform: translateX(-0px) translateY(0);
        opacity: 0;

        h1.letter-lg {
          font-family: 'Brandon-Grotesque', sans-serif;
          font-size: 223px;
          color: $hunter-green;
        }

        h1.name {
          position: relative;
          line-height: 40px;
          top: -80px;
          left: 90px;
          font-size: 30px;
          text-transform: uppercase;
          text-align: left;
        }
      }
    }
  }
}


.hunters-section {
  margin-bottom: 200px;

  // Ease
  $easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  $easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

  ul {
    li {
      list-style-type: none;
    }
  }

  .slider--teams {
    position: relative;
    top: 250px;
    left: 50%;
    max-width: 750px;
    opacity: 0;
    transform: translate(-50%, -50%);
    .slider--teams__team {
      position: relative;
      overflow: hidden;
    }
  }

  #list {
    position: relative;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    li {
      position: relative;
      display: inline-block;
      float: left;
      text-align: center;
      figure {
        cursor: pointer;
        margin: 1em;
        opacity: 0.5;
        backface-visibility: hidden;
        transition: transform 450ms $easeInOutSine, opacity 450ms ease-in-out;
        transform: scale(0.5) translateZ(0px);
        &:hover {
          opacity: 0.8;
          transform: scale(0.6) translateZ(0px);
        }
        &:active {
          opacity: 1;
          transform: scale(0.7) translateZ(0px);
        }
        > div {
          border: 2px solid $hunter-pink;
          border-radius: 5px;
          position: relative;
          margin: 2rem auto;
          width: 165px;
          height: 165px;
          overflow: hidden;
          transform: rotate(45deg) translateZ(0px);
          border-radius: 1000px;
          > div {
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/teams.jpg) no-repeat;
            background-size: cover;
            background-position: 0px 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 170px;
            height: 170px;
            transform: rotate(-45deg) translate(0%, -70%);
          }
        }
        figcaption {
          h2 {
            color: white;
            font-size: 18px;
            font-weight: 800;
            line-height: 20px;
          }
          p {
            color: white;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
      &:nth-child(1) figure > div > div {
      background-position: 0px 0px !important;
    }
      &:nth-child(2) figure > div > div {
      background-position: 0px 20% !important;
    }
      &:nth-child(3) figure > div > div {
      background-position: 0px 40% !important;
    }
      &:nth-child(4) figure > div > div {
      background-position: 0px 60% !important;
    }
      &:nth-child(5) figure > div > div {
      background-position: 0px 80% !important;
    }
      &:nth-child(6) figure > div > div {
      background-position: 0px 100% !important;
    }

    }
  }

  .active {
    opacity: 1 !important;
    transform: scale(1) translateZ(0px) !important;
  }

  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }

  .cf:after {
      clear: both;
  }

  .cf {
      *zoom: 1;
  }
}
