// master.scss

@import "colors";
@import "globals";
@import "fonts";
@import "nav";
@import "landing";
@import "who-we-are";
@import "what-we-do";
@import "our-projects";
@import "contact";
@import "media";

body {
	height: auto;
	width: 100%;
}
